.about-section{
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
}

.summary{
    margin-top: 10%;
}



.summary p{
    margin-top: 2%;
}

.experience h2{
    margin-top: 5%;
    
}

.experience h1{
    margin-bottom: 1%;
}

.experience h3{
    margin-bottom: 3%;
}

.freelance-link{
    margin-top: 2%;
    margin-left: 45%;
}

.status{
    color: green;
    margin-top: 2%;
    margin-bottom: 2%;
}

.resume-link-desktop a{
    font-size:1.3em;
}

.resume-link-desktop {
    margin-top: 2%;
    margin-left: -1.5%;
    margin-bottom: 1%;
}

.resume-link{
    display: none;
}


.tech-icons{
    margin-left: 20%;
    margin-bottom: 10%;
    scale: 0.9;
    display: grid;
   
    grid-column-gap: 35%;
    grid-row-gap: 50%;
    
    grid-template-columns: auto auto auto; 
    
   
 
}





.noTooltip:hover{pointer-events:fill;}
@media only screen and (max-width: 768px) {
    
    .about-section{
        margin-left: 3%;
        width: 90%;
    }

    .summary{
        margin-top: 10%;
    }

    .summary p{
        margin-top: 2%;
    }

    .experience{
       margin-top: 10%;
    }
    
    .experience h3{
        
        margin-bottom: 5%;
    }
    .experience h1{
        margin-bottom: 1%;
    }

    .experience h2{
        margin-bottom: 1%;
    }
    
    
    .freelance-link{
        margin-top: 2%;
        margin-left: 20%;
        text-decoration: underline;
    }
    
    .status{
        color: green;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .resume-link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 10%;
        margin-left: 7%;
        text-decoration: underline;
    }
    .resume-link a{
        font-size: 1.2em;
       
    }
    .resume-link-desktop {
        display: none;
    }

    .tech-section{
        margin-top: 5%;
    }
    .tech-section h4{
        margin-bottom: 3%;
    }

    .tech-icons{
        margin-right: 5%;
        margin-bottom: 10%;
        scale: 0.9;
        display: grid;
        gap: 25%;
        grid-template-columns: auto auto auto;
     
    }
}