.freelance-header{
    margin-top: 10%;
}

.experience h3{
    margin-left: 10%;
}

.freelance-section{
    width: 80%;
    
  
}

/* fixed so specify width and then description grows to fit this */
.thumbnail-description{
    display: flex;
}
.thumbnail{
    min-width: 300px;
    margin-left: 10%;
}

.description{
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 6%;

}

.freelance{
    margin-bottom: 5%;
}

.freelance h3{
    margin-top: 5%;
}
.thumbnail-description img{
    /* scale: 0.4; */
    height: 200px;
    display: inline-block;
}

.thumbnail-description span{
    display: inline-block;
    padding: 1%;
}

.links{
 
    margin-top: 5%;
    display: flex; 
}

.website-link{
    scale: 1.1;
    /* margin-right: 1%; */
}


.github-link{
   
    /* margin-left: 1%; */
    flex-direction: row;
    margin-bottom: 2%;
}
.tools{
    margin-top: 1%;
    margin-left: 1%;
    scale: 1.2;
}

@media only screen and (max-width: 768px) {

    .freelance-header{
        margin-left: 5%;
    }
    .freelance-section{
        width: 85%;
        margin-left: 8%;
    
    }

    
.thumbnail-description{
    display: inline;
}

    .thumbnail{
        max-width: 30%;
        margin-left: 10%;
    }
    
    .description{
        flex-grow: 1;
        
        margin-left: 5%;
        margin-right: 6%;
    
    }
}