.intro{
    max-width: 800px;       /* Optimal line length for reading */
  margin-left: auto;      /* Left-align content */
  margin-right: auto;     /* Center container horizontally */
  padding: 0 2rem; 

}

.intro p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 3.5rem;
    list-style-type: disc;
}

.intro p a{
    text-decoration: underline;
    text-decoration-color:rgb(61, 168, 204);
    text-decoration-thickness: 5px;
}

.intro p a:hover{
    color:rgb(61, 168, 204);
    text-decoration-color: rgb(105, 210, 231);
    cursor: pointer;
}

.intro p a:visited{
    text-decoration: underline;
    text-decoration-color:rgb(61, 168, 204);
}
