
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* About Page */
.center-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

.center-intro ul{
    list-style: none;
    padding: 0;
    margin: 8px 0;
}
/* revisit this to see if this makes sense */
.center-intro a:visited{
    text-decoration: underline;
}

.center-intro ul.link:hover{
    text-decoration: underline;
    color:rgb(61, 168, 204);
    text-decoration-color: rgb(105, 210, 231);
    
    
    
}

/* smaller screens */
@media (max-width: 600px) {
    .intro {
      padding: 0 1rem;
      max-width: 100%;
    }
  
    .intro p,
    .intro li {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 1.5rem;
    }
  
    .intro ul {
      padding-left: 1rem; /* Prevent bullet cutoff */
    }
  
    .intro p a {
      text-decoration-thickness: 3px;
    }
  }