.main-body{
  
}


.contact-icons{
    scale: 0.2;
    display: grid;
    gap: 30%;
    grid-template-columns: auto auto auto;
 
}

.tabs{

 
   
    margin-left: 41%;
    margin-top: 5%;
    scale: 1.8;
  
    
}

.tab-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab-content{
    margin-right: 5%;
}

@media only screen and (max-width: 768px) {
    .contact-icons{
        scale: 0.3;
    }

    .tabs{
        margin-left: 18%;
        scale: 1.2;
    }


}