.main-body{
   
}


.contact-icons{
    scale: 0.2;
    display: grid;
    gap: 30%;
    grid-template-columns: auto auto auto;
 
}

.tabs{

 
    
    margin-left: 41%;
    scale: 1.8;
    margin-top: 5%;
    
}

.tab-content{
    margin-right: 5%;
}

@media only screen and (max-width: 768px) {
    .contact-icons{
        scale: 0.3;
    }

    .tabs{
        margin-left: 20%;
        scale: 1.2;
    }


}