/* 1 */
:root {
    --font-color: #b0bec5;
    --background-color: #0a192f;
    --link-color: #00b8d4;
    
  }
  
  /* 2 */
  [data-theme="dark"] {
    --font-color: #00b8d4;
    /* --background-color: #282828; */
    --background-color: #1e1e1e;
    /* --background-color: #333; */
    --link-color: #add8e6;
   
    
  }






  /* 3 */
  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  
  a {
    color: var(--link-color);
  }
  
  /* Custom Dark Mode Toggle Element */
  .toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-left: 85%;
    
    
  }
  
  .toggle-theme-wrapper span {
    font-size: 28px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: gray;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media only screen and (max-width: 768px) {

    .toggle-theme-wrapper {
      
        scale: 0.8;
        margin-left: 65%;

     
     
        
      }
  }